@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@300;500&display=swap');

*{
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
    font-size: 1rem;
    color: inherit;
    background-color: transparent;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: normal;
}

#root{
    height: 100%;
    display: flex;
    position: relative;
    align-items: stretch;
    /* overflow-x: hidden; */
    /* max-width: 1500px; */
    /* padding-right: 19% */
}

*:not(input){
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
     user-select: none;
}
