.heart-container{
    display: flex;
    border:1px solid #5b626679;
    min-width: 800px;
    padding: 5%;
    overflow: hidden;
    margin: 2%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.heart-text{
    font-size: 18px;
    text-align: center;
}

.heart-profile-pic{
    width:30px;
    height:30px;
}
.expiration-count{
    text-align: center;
    font-size: 26px;;
}

h3{
    font-size: 26px;
    text-align: center;
}
