.demo-container{
    width: 300px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    gap: 20px;
}
.demo-container h1{
    font-size: 30px;
}

.demo-user-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.demo-user-container h2{
    font-size: 24px;
    text-align: center;
}

.demo-user-container img{
    height: 90px;
    width: 90px;
    object-fit: cover;
}

.romeow, .julion{
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.demo-user-container button{
    height:40px;
    width:90px;
    border-radius: 15px;
    font-size: 16px;
    padding: 1%;
    font-weight: bold;
}

.julion button {
    background-color: #fb6888;
    border: none;
    color: whitesmoke;
}

.julion button:hover{
    background-color: #da4d6c;
    transform: scale(1.03);
}

.romeow button{
    background-color: #79d0bd;
    border: none;
    color: whitesmoke;
}

.romeow button:hover {
    background-color: #57aa98d0;
    transform: scale(1.03);
}
