.side-bar{
    background-color: #fb6888;
    min-width: 300px;
    /* max-width: 400px; */
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    margin-left: 0;
    justify-content: space-evenly;
    z-index: 3;
    /* margin-right: 100px;; */
}


.session-connections{
    display: flex;
    flex-direction: column;
    min-width: 80%;
    padding: 2% 5%;
    min-height: 200px;
    max-height: 300px;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow-y: scroll;
     box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.message-container{
    display: flex;
    flex-direction: column;
    min-width: 80%;
    max-width: 80%;
    padding: 2% 4%;
    min-height: 300px;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow-y: scroll;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    /* justify-content: flex-end; */
    padding-bottom: 20px;
}

.session-connections::-webkit-scrollbar{
    display: none;
}

.message-container::-webkit-scrollbar{
    display: none;
}
.connection-auth-reminder{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: #393e41
}

.message-form{
    display: flex;
    /* border: 1px solid black; */
    margin: 1% -10px -10px;
    margin-top:auto;
    border-radius: 20px;
    background: #b8ebe075;
    color: #292d30;
    align-items: center;
    gap: 15px;
}
.message-input{
    display:flex;
    flex-direction: column;
    min-height: 25px;
    width: 200px;
    border-radius: 20px;
    color: #292d30;
    padding: 5%;
    /* justify-content: flex-end; */
}
.message-input:hover{
    cursor: pointer;
}
.message-input[contenteditable]:empty::before{
    content:'Send message'
}

.send-icon{
    margin-top: auto;
    padding-bottom: 7px;;
    height: 30px;
    width: 30px;
}

.messages-partner-header{
    display: flex;
    padding: 3%;
    border-bottom: 1px solid #393e412e;
    margin-left: -11px;
    margin-right: -27px;
    align-items: center;
    gap: 10px;
}

.messages-partner-header h2{
    font-size: 16px;
    color: #292d30;
    font-weight: bold;
}

.bar-connection{
    border-radius: 10px;;
    padding-left: 5px;
    padding-right: 5px;
}
.bar-connection:hover{
    cursor: pointer;
    background-color: #424b5029;
}

.heart-noti img {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.empty-text{
    color: #393e41;
    margin-top: 2%;
    font-size: 20px;
    text-align: center;
}
