.connection-card{
    display: flex;
    flex-direction: column;
    border: 10px solid #a2e8d974;
    width: 800px;
    padding: 5% 7% 2% 7% ;
    margin: 2%;
    border: 10px solid #a2e8d974;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background-color: whitesmoke;
    /* gap: 20px; */
}

.connector-info p{
    font-size: 24px;
}
.connection-content{
    display: flex;
    flex-direction: column;
    gap:50px;
}
.connection-content p {
    font-weight: bold;
    font-size: 16px;
}
.user-text-content1{
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    width: 500px;
    background: #fdc1ce38;
    padding: 20px;
    color: #292d30;
    position:relative;
    text-align: left;
    border-radius: 20px;;
    margin-right: 70px;
    margin-bottom:30px;
}
.user-text-content2{
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    width: 500px;
    background: #a2e8d93d;
    padding: 20px;
    color: #292d30;
    position:relative;
    text-align: left;
    border-radius: 20px;
    margin-left: 70px;

}


.cb1:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 15px;
    top: 1px;
    z-index: 3;
    border-color: rgb(253 193 206 / 24%) transparent transparent rgb(253 193 206 / 8%);
  }
.cb2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #a2e8d93d;
    border-top: 10px solid #a2e8d93d;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
}

.user-text-picture-card{
    display: flex;
    flex-direction: column;
}


.user-card-info{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.connector-card-info{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
