.create-reply-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    min-width: 500px;
    align-items: center;
    padding: 5% 5% 2% 5% ;
    border: 10px solid #a2e8d974;
}

.create-reply-form textarea{
    min-width: 500px;
    resize:none;
    border: none;
    border-bottom: solid 1px #393e4185;
    margin-bottom: 25px;
    outline:none;
    background: transparent;
    padding-top: 60px;
    padding-bottom: 0px;
    font-size: 20px;
    box-sizing: border-box;
}

.create-reply-form button{
    width: 40%;
    min-height: 30px;
    border-radius: 8px;
    border: 0px;
    background-color: #ffeb7b;
    color: #393e41;
    font-weight: 600;
    font-size: 24px;
    padding: 2% 0%;
    margin: 2%
}

.create-reply-form button:hover{
    background-color: #e1d175;
    cursor: pointer;
    transform: scale(1.02);
}

.errors-list{
    margin-top: 3px;

}
.error{
    color: red;
    list-style: none;
    font-size: 18px;

}
