.reply-container{
    display: flex;
    flex-direction: column;
    border: 10px solid #fae88391;
    width: 350px;
    padding: 2% 1% 1% 5% ;
    overflow: hidden;
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background-color: whitesmoke;
}

.reply-container p {
    font-size: 16px;
}

.edit-reply button{
    background-color: #ffeb7b;
    height:30px;
    width: 60px;
}
.edit-reply button:hover{
    background-color: #dac75f;
}
.delete-reply button{
    background-color: #fb6888;
    cursor:pointer;
    height:30px;
    width: 60px;
}
.delete-reply button:hover{
    background-color: #d5506c;
    cursor: pointer;
}

.connected-profile-picture{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.connected-header{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #393e41
}

.connected-top span{
    font-size: 14px;

}
.connected-top{
    display: flex;
    align-items: center;
    gap : 10px;
}
.connected-top p{
    font-size: 16px;
    font-weight: bold;
}

.connect-button{
    background-color: #fb6888;
    height:40px;
    width:90px;
    border-radius: 15px;
    font-size: 16px;
    padding: 1%;
    color: #393e41;
    font-weight: bold;
    border:none
}
.connect-button button:hover{
    background-color: #d5506c;
    cursor: pointer;
}
